<div class="banner container-fluid">
  <h2>Why Choose Us</h2>
</div>
<article class="container">

<article class="container-fluid category">
  <div class="new-bike col-md-4 col-sm-4 col-xs-12" >
    <h4>REAL BETS OFFERS</h4>
    <br>
    <p>6+ ODDS @KSH. 50</p>
    <p>14+ ODDS @ KSH. 100</p>
    <p>29+ VIP ODDS@ KSH. 250</p>
    <p>MIDWEEK JACKPOT PREDICTIONS @ KSH.200</p>
    <p>MEGA JACKPOT PREDICTIONS@ KSH. 200</p>
  </div>
  <div class="used-bike col-md-4 col-sm-4 col-xs-12" >
    <h4>Start winning Now</h4>
    <br>
    <p>1. On your Safaricom phone go to the <b>M-PESA menu</b></p>
    <p>2. Select <b>Lipa Na M-PESA</b></p>
    <p>3. Select <b>Buy Goods and Services</b></p>
    <p>4. Enter the Till Number <b>837760</b>.</p>
    <%= image_tag("lnp.png", class: "img-responsive") %>
    <p>5. Enter the Amount According to your chosen offer and how you wish to subscribe</p>
    <p>6. You will receive 2 messages; the second one will have your Username and password</p>
    <p>7. Login to access our tips</p>
  </div>
  <div class="used-bike col-md-4 col-sm-4 col-xs-12" >
    <h4>Our Latest Wins</h4>
    <table>
  <thead>
    <tr>
      <th><span class="glyphicon glyphicon glyphicon-calendar"></span></th>
      <th><span class="glyphicon glyphicon glyphicon-time"></span></th>
      <th>GAME ID</th>
      <th>TEAMS</th>
      <th><span class="glyphicon glyphicon glyphicon-ok"></span></th>
    </tr>
  </thead>

  <tbody>
    <% @bet_tips.each do |bet_tip| %>
      <tr>
        <td><%= bet_tip.date %></td>
        <td><%= bet_tip.time %></td>
        <td><%= bet_tip.gameid %></td>
        <td><%= bet_tip.hometeam %> vS <%= bet_tip.visitteam %></td>
        <td><%= bet_tip.selection %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
</article>

<article class="container product">
  <p></p>
</article>

</article>
<div class="banner container-fluid">
  <h2>TODAY FREE TIPS</h2>
</div>
<table>
  <thead>
    <tr>
      <th><span class="glyphicon glyphicon glyphicon-calendar"></span></th>
      <th><span class="glyphicon glyphicon glyphicon-time"></span></th>
      <th>GAME ID</th>
      <th>HOME TEAM</th>
      <th>ODDS</th>
      <th>VISITING TEAM</th>
      <th>SELECTION</th>
    </tr>
  </thead>

  <tbody>
    <% @bet_tips.each do |bet_tip| %>
      <tr>
        <td><%= bet_tip.date %></td>
        <td><%= bet_tip.time %></td>
        <td><%= bet_tip.gameid %></td>
        <td><%= bet_tip.hometeam %></td>
        <td><%= bet_tip.odds %></td>
        <td><%= bet_tip.visitteam %></td>
        <td><%= bet_tip.selection %></td>
      </tr>
    <% end %>
  </tbody>
</table>