<header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-12 mx-auto">
            <h1 class="text-uppercase">
              <strong>BETTING CHAMPS</strong>
            </h1>
            <h2 class="text-uppercase"><strong>use <%= image_tag("logo.png", :alt => "Realbets254 logo") %></strong</h2>
            <hr>
          </div>
          <div class="col-12 mx-auto">
            <p class="text-faded mb-5">Welcome to the ultimate leader of bet predictions. Get all your betting prediction analysis from one site that will serve you with nothing but the best tips.Dedicated team that works day and night to ensure winning for you.</p>
            <%= form_tag("/bet_tips", method: "get", class: "SearchFormSidenav" ) do  %>
               <%= text_field_tag(:q,nil,:placeholder => "Search for top playing games today | Anything on Realbets254", :class=>"form-control") %>
               <!--<%= submit_tag("Go", :class =>"btn btn-outline-warning") %>-->
               <% end %>
          </div>
          <div class="col-12 mx-auto">
            <h4>Our Latest Wins</h4>
    <table>
  <thead>
    <tr>
      <th><span class="glyphicon glyphicon glyphicon-calendar"></span></th>
      <th><span class="glyphicon glyphicon glyphicon-time"></span></th>
      <th>GAME ID</th>
      <th>TEAMS</th>
      <th><span class="glyphicon glyphicon glyphicon-ok"></span></th>
    </tr>
  </thead>

  <tbody>
    <% @bet_tips.each do |bet_tip| %>
      <tr>
        <td><%= bet_tip.date %></td>
        <td><%= bet_tip.time %></td>
        <td><%= bet_tip.gameid %></td>
        <td class="text-uppercase"><%= bet_tip.hometeam %> vS <%= bet_tip.visitteam %></td>
        <td><%= bet_tip.selection %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Start Winning</a>
          </div>
        </div>
      </div>
    </header>
    
    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-12 mx-auto text-center">
            <h2 class="section-heading text-white">LIPA NA MPESA</h2>
            <hr class="light my-4">
          </div>
          <div class="col-lg-4">
          <%= image_tag("lnp.png", class: "img-responsive") %>
          <h1 class="text-uppercase">A convenient  Way to Get started!!!</h1>
          </div>
          <div class="col-lg-8">
          <p class="text-faded mb-4"></p>
          <p>1. On your Safaricom phone go to the <b>M-PESA menu</b></p>
          <p>2. Select <b>Lipa Na M-PESA</b></p>
          <p>3. Select <b>Buy Goods and Services</b></p>
          <p>4. Enter the Till Number <b>837760</b>.</p>
          <p>5. Enter the Amount <b>KSH.50</b> (Get Predictions Via SMS) OR <b>KSH.300</b> (1 Week) OR <b>KSH. 750</b> (2 Weeks ) OR <b>KSH. 1500</b> (1 Month) OR <b>KSH. 4500</b> (3 Months) OR<b> KSH 6500</b> (6 Months) </p>
          <p>6. You will receive 2 messages; the second one will have your <b>Username</b> and <b>password</b></p>
          <p>7. Login to access our tips</p>
          </div>
        </div>
      </div>
    </section>
    
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 style="color: black;">At Your Service</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3" style="color:  black;">Real Time Support</h3>
              <p class="text-muted mb-0">Ever got stuck and need assistance on anything about our products? We have a dedicated team to help solve your queries.Contact us on the email <a href="mailto:support@realbets254.com">support@realbets254.com</a></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3" style="color:  red;">Mordern Technology</h3>
              <p class="text-muted mb-0">We work on mordern technology as a result we are amoung the most unique Bet predicting Websites in KE</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3" style="color:  green;">Up to Date</h3>
              <p class="text-muted mb-0">We update our games every 30Mins giving you the best tips in hand you can expect</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3" style="color:  black;">Money Back Guarantee</h3>
              <p class="text-muted mb-0">We promise your money back, in the case we don't deliver the expected results.Read our <a>REFUND POLICY</a></a></p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="bg-dark" id="about">
      <div class="container">
        <div class="row">
          <div class="col-12 mx-auto text-center">
            <h2 class="section-heading text-white">Contact Us</h2>
            <hr class="light my-4">
          </div>
          <div class="col-lg-4">
          <%= flash[:notice] %>

  <%= form_tag("/static_pages/thank_you") do %>
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <%= label_tag :name %>
        <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>
      </div>      
      <div class="form-group">
        <%= label_tag :email, "Email Address" %>
        <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
      </div>
      <div class="form-group">
        <%= label_tag :tel, "Phone Number" %>
        <%= text_field_tag :tel, nil, class: "form-control", placeholder: "Enter Phone Number" %>
      </div>
      <div class="form-group">
        <%= label_tag :message %>
        <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message" %>
      </div>      
    </div>
  </div>
  <%= submit_tag "Send", class: "btn btn-default" %>   
  <% end %>
          </div>
          <div class="col-lg-4">
          <p class="text-faded mb-4"></p>
          <h3>Get your reply within 10 mins</b></h3>
          <p>We have a support team that will attend to all your queries in a short period of time you can contact us about:</p>
          <li>Loss of Password or difficulty in accessing our site</li>
          <li>Delayed delivery of bet odd messages</li>
          <li>Your experience on our Platform</li>
          <li>Any inquiries you may be having</li>
          </div>
        </div>
      </div>
    </section>
