<header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-12 mx-auto">
            <h1 class="text-uppercase">
              <strong>BETTING CHAMPS</strong>
            </h1>
            <h2 class="text-uppercase"><strong>use <%= image_tag("logo.png", :alt => "Realbets254 logo") %></strong</h2>
            <hr>
          </div>
          <div class="col-12 mx-auto">
            <p class="text-faded mb-5">Welcome to the ultimate leader of bet predictions. Get all your betting prediction analysis from one site that willserve you with nothing but the best tips.Dedicated team that works day and night to ensure winning for you.</p>
            ><%= form_tag("/bet_tips", method: "get", class: "SearchFormSidenav" ) do  %>
               <%= text_field_tag(:q,nil,:placeholder => "Search for top playing games today | Anything on Realbets254", :class=>"form-control") %>
               <!--<%= submit_tag("Go", :class =>"btn btn-outline-warning") %>-->
               <% end %>
          </div>
          <div class="col-12 mx-auto">
            <h4>Our Latest Wins</h4>
    <table class="steelBlueCols">
  <thead>
    <tr>
      <th><span class="glyphicon glyphicon glyphicon-calendar"></span></th>
      <th><span class="glyphicon glyphicon glyphicon-time"></span></th>
      <th>GAME ID</th>
      <th>TEAMS</th>
      <th><span class="glyphicon glyphicon glyphicon-ok"></span></th>
    </tr>
  </thead>

  <tbody>
    <% @bet_tips.each do |bet_tip| %>
      <tr>
        <td><%= bet_tip.date %></td>
        <td><%= bet_tip.time %></td>
        <td><%= bet_tip.gameid %></td>
        <td><%= bet_tip.hometeam %> vS <%= bet_tip.visitteam %></td>
        <td><%= bet_tip.selection %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Start Winning</a>
          </div>
        </div>
      </div>
    </header>