<%= form_with(model: betting_tip, local: true) do |form| %>
  <% if betting_tip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(betting_tip.errors.count, "error") %> prohibited this betting_tip from being saved:</h2>

      <ul>
      <% betting_tip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date, id: :betting_tip_date %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time, id: :betting_tip_time %>
  </div>

  <div class="field">
    <%= form.label :gameid %>
    <%= form.number_field :gameid, id: :betting_tip_gameid %>
  </div>
  
    <div class="field">
    <%= form.label :Tips %>
    <%= form.text_field :Tips, id: :betting_tip_Tips %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
