<!DOCTYPE html>
<html>
  <head>
    <title>RealBets254 | </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top"><!--  Nav  -->
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="/" class="navbar-brand">RealBets254</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <% if current_user %><li><%= link_to 'Betting Tips', bet_tips_path %></li><% end %>
              <li><%= link_to 'About', static_pages_about_path %></li>
              <!--<li><%= link_to 'Contact', static_pages_contact_path %></li>-->
                <!-- <li>
                <% if user_signed_in? %>
                  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                <% else %>
                  <%= link_to('Login', new_user_session_path) %>
                <% end %>
                </li> -->
                <li class="user-login dropdown">
                  <% if user_signed_in? %>
                     
                     <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                             Logged in as: <%= current_user.first_name %><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li>
                            <%= link_to 'Profile', user_path(current_user.id) %>
                        </li>
                        <li>
                          <%= link_to 'Settings', edit_user_registration_path %>
                        </li>
                      </ul>       
                  <% end %>
                </li>
                
              </ul>
              
            </div>
          </div>
        </nav>
          <% if notice %>  
            <p id="notice" class="alert alert-info">
              <%= notice %>
            </p>
          <% end %>
          <% if alert %> 
            <p id="alert" class="alert alert-info">
              <%= alert %>
            </p>
          <% end %>
          
          <div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Beta Version!</strong>This application is running on a beta version version 1.0 is to be released soon!!!!!
</div>
</div>
          <%= yield %>
        <!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-3  col-md-12">
							<div class="single-footer-widget">
								<h6>Top Links</h6>
								<ul class="footer-nav">
									<li><a href="#">OUR TERMS OF USE</a></li>
									<li><a href="#">FAQ</a></li>
									<li><a href="#">CONTACT TECH</a></li>
									<li><a href="#">REFUND POLICY</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-6  col-md-12">
								<h6>ABOUT US</h6>
								<p>We have best football analysis in Kenya with 90% win rate. Our matches are analyzed from over 35 sites which guarantees win.</p>
      <p>We provide major markets such as 3 away 1,2,X; BTTS,OVER 2.5, UNDER 2.5,HT/FT, FIRST HALF RESULT/GOALS. With our tips worry no more and be guaranteed daily profits.</p>
							</div>
						</div>
						<div class="col-lg-3  col-md-12">
							<div class="single-footer-widget mail-chimp">
								<%= image_tag("brand.png", class: "img-responsive") %>
							</div>
						</div>						
					</div>

					<div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
            <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
					</div>
				</div>
			</footer>	
			<!-- End footer Area -->	
  </body>
</html>